<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indian Cricketers</title>
</head>
<body>
<ul>
{{$x := .Name}}
{{$y := .Role}}
<li>{{$x}} - {{$y}}</li>
</ul>
</body>
</html>